<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      lang = "en">
<head>
    <title>Save product</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="navigation"></div>
<div>
    <hr>
    <h2>Add product</h2>
    <form action="/product/save" method="POST">
        Product name: <br>
        <input type="text" name ="name"> <br>
        Product price: <br>
        <input type="number" name ="price"> <br>
        Producer:
        <select id="producer" name="producerId">
            <option th:each="producer : ${producers}"
                    th:value="${producer.id}"
                    th:text="${producer.name} + ' ' + ${producer.id}">
            </option>
        </select> <br>
        <button type="submit"> Save </button>
    </form>
    <hr>
    <a style="color:blue;" th:href = "@{/product/findAll}"> Back to Product List </a>
</div>
</body>
</html>