<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      lang = "en">
<head>
    <title>Save user</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="navigation"></div>
<div>
    <hr>
    <h2>Add user</h2>
    <form action="/user/save" method="POST">
        Email: <br>
        <input type="text" name ="email"> <br>
        Password: <br>
        <input type="text" name ="password"> <br>
        First name: <br>
        <input type="text" name ="firstName"> <br>
        Last name: <br>
        <input type="text" name ="lastName"> <br>
        Roles: <br>
        <input type="checkbox" name ="roles" th:value="ROLE_ADMIN"/>
        <label th:text="ROLE_ADMIN"></label><br>
        <input type="checkbox" name ="roles" th:value="ROLE_CLIENT"/>
        <label th:text="ROLE_CLIENT"></label><br>

        <button type="submit"> Save </button>
    </form>
    <hr>
    <a style="color:blue;" th:href = "@{/user/findAll}"> Back to User List </a>
</div>
</body>
</html>