<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Shop Management System</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Producers<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/producer/findAll">All producers</a></li>
                    <li><a href="/producer/findById">Find producer by Id</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/product/findAll">All products</a></li>
                    <li><a href="/product/findById">Find product by Id</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/user/findAll">All users</a></li>
                    <li><a href="/user/findById">Find user by Id</a></li>
                </ul>
            </li>
            <li class="active"><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>